<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
</head>
<body>
    <h2>HOME</h2>
        <form action='/list' method='GET'>
            <button type='submit'>lijst</button>
        </form>
        
        <form action='/search' method='GET'>
            <button type='submit'>zoeken</button>
        </form>
</body>
</html>

